# DB Creation

In [1]:
import sqlite3
import pandas as pd
import os
import traceback

Read in a list of all files that can be iterated on

In [2]:
path = r"C:\Users\bjr21\Documents\GitHub\Sandbox\Data"
folders = os.listdir(path)

Create the db file and two tables

In [33]:
dbname = 'ford.sqlite'

In [15]:
conn = sqlite3.connect(dbname)
cur = conn.cursor()

#cur.execute('DROP TABLE IF EXISTS A')
#cur.execute('DROP TABLE IF EXISTS B')
#cur.execute('DROP TABLE IF EXISTS MakeA')
#cur.execute('DROP TABLE IF EXISTS ModelA')
#cur.execute('DROP TABLE IF EXISTS IncomeA')
#cur.execute('DROP TABLE IF EXISTS CurrOwnA')
#cur.execute('DROP TABLE IF EXISTS VehSegA')
#cur.execute('DROP TABLE IF EXISTS ConsTypeA')
#cur.execute('DROP TABLE IF EXISTS DwellingA')
#cur.execute('DROP TABLE IF EXISTS DisposalB')
#cur.execute('DROP TABLE IF EXISTS FinancingB')
#cur.execute('DROP TABLE IF EXISTS FuelTypeB')
#cur.execute('DROP TABLE IF EXISTS MakeB')
#cur.execute('DROP TABLE IF EXISTS ModelB')
#cur.execute('DROP TABLE IF EXISTS NewUsedB')

cur.execute('''
CREATE TABLE A (col4 INTEGER, col5 INTEGER, col6 INTEGER, col11 FLOAT, col12 INTEGER,
col13 INTEGER, col14 INTEGER, col15 INTEGER, col18 INTEGER, col19 INTEGER,
col20 FLOAT, col21 INTEGER, col22 INTEGER, col24 INTEGER, col25 FLOAT,
col26 FLOAT, col27 INTEGER, col28 FLOAT, col29 INTEGER, col38 INTEGER,
col52 INTEGER, col53 INTEGER, col54 INTEGER, col55 INTEGER, col56 INTEGER,
col57 FLOAT, col58 INTEGER, col59 FLOAT, col60 FLOAT, col61 INTEGER,
col62 INTEGER, col63 INTEGER, col64 INTEGER, col65 FLOAT, col66 INTEGER,
col67 INTEGER, col68 INTEGER, col69 INTEGER, col70 INTEGER, col71 FLOAT,
col72 INTEGER, col73 INTEGER, col74 INTEGER, col75 INTEGER, col76 INTEGER,
col77 FLOAT, col78 INTEGER, col79 INTEGER, col80 FLOAT, col81 INTEGER,
col82 INTEGER, col83 INTEGER, col84 INTEGER, col85 INTEGER, col86 FLOAT,
col87 INTEGER, col88 INTEGER, col89 FLOAT, col90 INTEGER, col91 INTEGER,
col92 FLOAT, col93 FLOAT, col94 INTEGER, col95 FLOAT, col96 INTEGER,
col97 INTEGER, col98 INTEGER, col99 INTEGER, col100 INTEGER, col101 INTEGER,
col102 INTEGER, col103 INTEGER, col104 INTEGER, col105 INTEGER, col106 INTEGER,
col107 INTEGER, col108 INTEGER, col109 INTEGER, col110 INTEGER, col111 FLOAT, 
col112 INTEGER, col113 INTEGER, col114 INTEGER, col115 INTEGER, col116 INTEGER,
col117 INTEGER, col118 INTEGER, col119 INTEGER, col120 INTEGER, col121 INTEGER,
col122 INTEGER, col123 INTEGER, col124 INTEGER, col125 FLOAT, col126 FLOAT, 
col127 FLOAT, col128 FLOAT, col129 INTEGER, col130 INTEGER, col131 INTEGER, 
col132 INTEGER, col133 INTEGER, col134 FLOAT, col135 INTEGER, CustID INTEGER PRIMARY KEY)''')

cur.execute('''
CREATE TABLE B (CustID INTEGER, PurchaseDate INTEGER, NewUsed INTEGER, Make INTEGER,
Model INTEGER, ModelYear INTEGER, Disposal INTEGER, DisposalDate INTEGER, FuelType INTEGER,
Financing INTEGER)''')

cur.execute('''CREATE TABLE MakeA 
(MakeKey INTEGER UNIQUE PRIMARY KEY,
Make TEXT UNIQUE)''')

cur.execute('''
CREATE TABLE ModelA (Model TEXT UNIQUE, ModelKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE MileageA (Mileage TEXT UNIQUE, MileageKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE CurrOwnA (CurrOwn TEXT UNIQUE, CurrOwnKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE VehSegA (VehSeg TEXT UNIQUE, VehSegKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE ConsTypeA (ConsType TEXT UNIQUE, ConsTypeKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE DwellingA (Dwelling TEXT UNIQUE, DwellingKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE NewUsedB (Indicator TEXT UNIQUE, NewUsedKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE MakeB (Make TEXT UNIQUE, MakeKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE ModelB (Model TEXT UNIQUE, ModelKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE DisposalB (Disposal TEXT UNIQUE, DisposalKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE FuelTypeB (FuelType TEXT UNIQUE, FuelTypeKey INTEGER UNIQUE PRIMARY KEY)''')

cur.execute('''
CREATE TABLE FinancingB (Financing TEXT UNIQUE, FinancingKey INTEGER UNIQUE PRIMARY KEY)''')

cur.close()
conn.close()

Write function to insert a dataframe into the db and commit

In [31]:
def  writeA(df):
    try:
        conn = sqlite3.connect(dbname)
        cur = conn.cursor()
        for (index, record) in df.iterrows():
            Make = record[4]
            Model = record[5]
            Mileage = record[18]
            CurrOwn = record[21]
            VehSeg = record[22]
            ConsType = record[24]
            Dwelling = record[38]
         
            cur.execute('''INSERT OR IGNORE INTO MakeA (Make) VALUES ( ? )''', ( Make, ) )
            cur.execute('SELECT MakeKey FROM MakeA WHERE Make = ? ', (Make, ))
            Make_id = cur.fetchone()[0]  

            cur.execute('''INSERT OR IGNORE INTO ModelA (Model) VALUES ( ? )''', ( Model, ) )
            cur.execute('SELECT ModelKey FROM ModelA WHERE Model = ? ', (Model, ))
            Model_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO MileageA (Mileage) VALUES ( ? )''', ( Mileage, ) )
            cur.execute('SELECT MileageKey FROM MileageA WHERE Mileage = ? ', (Mileage, ))
            Mileage_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO CurrOwnA (CurrOwn) VALUES ( ? )''', ( CurrOwn, ) )
            cur.execute('SELECT CurrOwnKey FROM CurrOwnA WHERE CurrOwn = ? ', (CurrOwn, ))
            CurrOwn_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO VehSegA (VehSeg) VALUES ( ? )''', ( VehSeg, ) )
            cur.execute('SELECT VehSegKey FROM VehSegA WHERE VehSeg = ? ', (VehSeg, ))
            VehSeg_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO ConsTypeA (ConsType) VALUES ( ? )''', ( ConsType, ) )
            cur.execute('SELECT ConsTypeKey FROM ConsTypeA WHERE ConsType = ? ', (ConsType, ))
            ConsType_id = cur.fetchone()[0]
            
            cur.execute('''INSERT OR IGNORE INTO DwellingA (Dwelling) VALUES ( ? )''', ( Dwelling, ) )
            cur.execute('SELECT DwellingKey FROM DwellingA WHERE Dwelling = ? ', (Dwelling, ))
            Dwelling_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO A (col4, col5, col6, col11, col12,
            col13, col14, col15, col18, col19, col20, col21, col22, col24, col25,
            col26, col27, col28, col29, col38, col52, col53, col54, col55, col56,
            col57, col58, col59, col60, col61, col62, col63, col64, col65, col66,
            col67, col68, col69, col70, col71, col72, col73, col74, col75, col76,
            col77, col78, col79, col80, col81, col82, col83, col84, col85, col86,
            col87, col88, col89, col90, col91, col92, col93, col94, col95, col96,
            col97, col98, col99, col100, col101, col102, col103, col104, col105,
            col106, col107, col108, col109, col110, col111, col112, col113, col114,
            col115, col116, col117, col118, col119, col120, col121, col122, col123,
            col124, col125, col126, col127, col128, col129, col130, col131, col132,
            col133, col134, col135, CustID) VALUES ( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,
            ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,
            ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,
            ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,
            ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', (Make_id, Model_id, record[6], record[11], record[12], record[13],
                       record[14], record[15], Mileage_id, record[19], record[20],
                      CurrOwn_id, VehSeg_id, ConsType_id, record[25], record[26],
                      record[27], record[28], record[29], Dwelling_id, record[52],
                      record[53], record[54], record[55], record[56], record[57],
                      record[58], record[59], record[60], record[61], record[62],
                       record[63], record[64], record[65], record[66], record[67],
                       record[68], record[69], record[70], record[71], record[72],
                       record[73], record[74], record[75], record[76], record[77],
                       record[78], record[79], record[80], record[81], record[82],
                       record[83], record[84], record[85], record[86], record[87],
                      record[88], record[89], record[90], record[91], record[92],
                       record[93], record[94], record[95], record[96], record[97],
                       record[98], record[99], record[100], record[101], record[102],
                       record[103], record[104], record[105], record[106], record[107],
                       record[108], record[109], record[110], record[111], record[112],
                       record[113], record[114], record[115], record[116], record[117],
                      record[118], record[119], record[120], record[121], record[122],
                       record[123], record[124], record[125], record[126], record[127],
                       record[128], record[129], record[130], record[131], record[132],
                       record[133], record[134], record[135], record[168]) )
    
    except:
        traceback.print_exc()
        print(index, record)
        cur.close()
        conn.close()
        
    conn.commit()
    cur.close()
    conn.close()

In [16]:
def  writeB(df):
    try:
        conn = sqlite3.connect(dbname)
        cur = conn.cursor()
        for (index, record) in df.iterrows():
            NewUsed = record[2]
            Make = record[3]
            Model = record[4]
            Disposal = record[6]
            Fuel = record[8]
            Finance = record[9]

            cur.execute('''INSERT OR IGNORE INTO NewUsedB (Indicator) VALUES ( ? )''', ( NewUsed, ) )
            cur.execute('SELECT NewUsedKey FROM NewUsedB WHERE Indicator = ? ', (NewUsed, ))
            NewUsed_id = cur.fetchone()[0]  

            cur.execute('''INSERT OR IGNORE INTO MakeB (Make) VALUES ( ? )''', ( Make, ) )
            cur.execute('SELECT MakeKey FROM MakeB WHERE Make = ? ', (Make, ))
            Make_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO ModelB (Model) VALUES ( ? )''', ( Model, ) )
            cur.execute('SELECT ModelKey FROM ModelB WHERE Model = ? ', (Model, ))
            Model_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO DisposalB (Disposal) VALUES ( ? )''', ( Disposal, ) )
            cur.execute('SELECT DisposalKey FROM DisposalB WHERE Disposal = ? ', (Disposal, ))
            Disposal_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO FuelTypeB (FuelType) VALUES ( ? )''', ( Fuel, ) )
            cur.execute('SELECT FuelTypeKey FROM FuelTypeB WHERE FuelType = ? ', (Fuel, ))
            Fuel_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO FinancingB (Financing) VALUES ( ? )''', ( Finance, ) )
            cur.execute('SELECT FinancingKey FROM FinancingB WHERE Financing = ? ', (Finance, ))
            Finance_id = cur.fetchone()[0]

            cur.execute('''INSERT OR IGNORE INTO B (CustID, PurchaseDate, NewUsed, Make,
            Model, ModelYear, Disposal, DisposalDate, FuelType, Financing) VALUES ( ?, ?, ?, ?, ?, ?, ?, ?, ?, ? )''',
                        (record[0], record[1], NewUsed_id, Make_id, Model_id, record[5],
                         Disposal_id, record[7], Fuel_id, Finance_id, ) )
    
    except:
        traceback.print_exc()
        print(index, record[0], record[1], NewUsed_id, Make_id, Model_id, record[5],
                         Disposal_id, record[7], Fuel_id, Finance_id)
        cur.close()
        conn.close()
        
    conn.commit()
    cur.close()
    conn.close()

In [23]:
def CleanA(df):
    criteria = df.dtypes == "object"
    df[criteria.index[criteria]] = df[criteria.index[criteria]].fillna(value = "None")
    df[criteria.index[~criteria]] = df[criteria.index[~criteria]].fillna(value = 0)
    return df

In [17]:
def CleanB(df):
    df[0] = df[0].fillna(value = 0)
    df[1] = df[1].fillna(value = 0)
    df[2] = df[2].fillna(value = "None")
    df[3] = df[3].fillna(value = "None")
    df[4] = df[4].fillna(value = "None")
    df[5] = df[5].fillna(value = 0)
    df[6] = df[6].fillna(value = "None")
    df[7] = df[7].fillna(value = 0)
    df[8] = df[8].fillna(value = "None")
    df[9] = df[9].fillna(value = "None")
    return df

Loop through data folders A and B to insert read into pandas and insert into db

In [ ]:
for folder in folders:
    if "GroupB" in folder or "GroupA" in folder:
        files = os.listdir(os.path.join(path,folder))
        for file in files:
            #df = pd.read_csv(os.path.join(files,file), header=None)
            if "GroupA" in folder:
                df_clean = CleanA(df)
                writeA(df_clean)
                print("A - ",file)
            if "GroupB" in folder:
                df_clean = CleanB(df)
                writeB(df_clean)
                print("B - ",file)

In [32]:
#for testing with just one file of each
path = r"C:\Users\bjr21\Documents\GitHub\Sandbox\Data"
files = os.listdir(path)
for file in files:
    if "csv" in file:
        df = pd.read_csv(os.path.join(path,file), header=None)
    if "A0" in file:
        df_clean = CleanA(df)
        writeA(df_clean)
        print("A - ",file)
    if "B0" in file:
        df_clean = CleanB(df)
        writeB(df_clean)
        print("B - ",file)

A -  part-A00000-bcea78c3-8239-4dcb-a61e-a6cfb9dd26db-c000.csv
B -  part-B00000-810e26af-8c5e-4dd2-87ee-e79f09407105-c000.csv