# Ford Data Sandbox

In [30]:
import numpy as np
import pandas as pd
import os
import matplotlib

In [33]:
%matplotlib inline

This is a filename agnostic way to import the data. Just replace the path with the location of your data.

In [51]:
path = r"C:\Users\bjr21\Documents\GitHub\Sandbox"
files = os.listdir(path)

['part-00000-810e26af-8c5e-4dd2-87ee-e79f09407105-c000.csv']

You can modify this below to import only a certain file (e.g. use files[5]) or to iterate through all files to either append or paginate the reading

In [24]:
for file in files:
    df = pd.read_csv(os.path.join(path,file), header=None)

In [25]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1000661944,20090505,U,Toyota,Sienna,2006,Y,20120503.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1,1000873290,20130718,U,Ford,Escape,2005,Y,20170103.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
2,1005344304,20141031,U,Ford,Mustang,2003,Y,20151218.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
3,1002810245,20120612,U,Porsche,Boxster,2000,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
4,1002327903,20130604,U,Ford,Ranger,1997,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303856,1007241551,20150123,N,Ford,Explorer,2015,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303857,1004986575,20150409,U,Dodge,Ram 1500,2009,Y,20161122.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303858,1003354543,20130627,N,Hyundai,Azera,2012,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303859,1003537976,20111020,U,Jeep,Wrangler,2006,Y,20160429.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303860,1000499890,20100714,U,Ford,Ranger,1996,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData

In [46]:
df[df.duplicated([0], keep=False)]

,0,1,2,3,4,5,6,7,8,9,10,11,12
4,1002327903,20130604,U,Ford,Ranger,1997,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
6,1006306570,20121031,U,Cadillac,DeVille,1999,Y,20121116.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
9,1002368106,20130509,U,Dodge,Ram 2500,2004,Y,20170803.0,Diesel,P,201904,2019-04-20,201904_HistoricalData
18,1003562012,20110330,U,Lexus,LS,1998,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
29,1006114862,20090918,N,Ford,Mustang,2010,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303843,1004133478,20171002,U,Saturn,VUE,2006,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303844,1004124854,20120302,U,Chevrolet,Suburban,2004,Y,20140909.0,Flex,P,201904,2019-04-20,201904_HistoricalData
1303845,1002233168,20121130,U,MINI,Cooper,2004,Y,20141226.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303848,1006097986,20120706,N,Ford,Taurus,2012,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1303851,1000743441,20150604,N,Ford,Escape,2015,N,NaN,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData

In [49]:
df[df[0]==1006306570]

,0,1,2,3,4,5,6,7,8,9,10,11,12
6,1006306570,20121031,U,Cadillac,DeVille,1999,Y,20121116.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData
1200969,1006306570,20120305,U,Lincoln,Town Car,1994,Y,20121116.0,Unleaded Gas,P,201904,2019-04-20,201904_HistoricalData